<html>
<head>
    <title>ひとあつめ</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.2.4/pixi.min.js"></script></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<script>

    {{if eq .page 0}}


    function hideid(){
        document.getElementById('iddiv').innerHTML="<div class=\"ui center big  input\" id=\"roomholder\"><input id=\"number\" type=\"text\" required minlength=\"1\" maxlength=\"10\"   placeholder=\"room id\" name=\"room\" required></div></div>"
    }

    function showid() {
        roomid = ('000000' + Math.floor(Math.random() * 1000000)).slice(-6)
        document.getElementById('iddiv').innerHTML = "<div class=\"ui labeled input\"><div class=\"ui label\"  name=\"\" value=\"\"><input type=\"hidden\" id=\"id\"name=\"room\" value=\"\">roomid<div class=\"ui green message\">" + roomid + "</div></div></div>"
        document.getElementById("id").value = roomid
    }

    function joinid() {
        if (document.getElementById("join").checked) {
            var url = "ws://" + "localhost:8080/ws/" + document.getElementById("number").value;
            ws = new WebSocket(url);
            ws.onopen = function (event) {
                ws.send(["newuser",document.getElementById("name").value].join(" "));
            }
            }
        }
    {{end}}
    {{if eq .page 1}}
    {{if eq .ishost "1"}}
    function gamebegin(){
        var url = "ws://" + "localhost:8080/ws/" + {{.id}};
        ws = new WebSocket(url);
        ws.onopen = function (event) {
            ws.send(["begin"].join(" "));
        }
    }
    {{end}}
    {{end}}

</script>
<body>
<center>
{{if eq .page 0}}
    <br><br><br><br><br><br><br><br>
{{end}}

    {{if eq .page 1}}
<br><br><br><br><br><br><br><br>
{{end}}
{{if eq .page 0}}
    <center>
            <h1>ひとあつめ</h1>

    <form action="http://localhost:8080/" method="post">
            <input type="radio" name="host"  id="join" checked="checked"value="1"onclick="hideid()">
            <label >Join a room　　　　</label>
        <input type="radio" name="host" id="create" value="2"  onclick="showid()">
        <label>Create a room</label><br><br>
        {{if eq .error 5}}
        <br>
        <div class="ui pointing below red basic label">
            room idが見つかりません!
        </div><br>
        {{end}}
        <div id="iddiv">
            <div class="ui center big  input" id="roomholder"><input id="number" type="text" required minlength="1" maxlength="10"  value="" placeholder="room id" name="room" pattern=".*\S+.*" required></div></div>
        <br><br><div class="ui center big  input" id="nameholder"><input type="text" required minlength="1" maxlength="10"  id="name" value="" placeholder="なまえ" name="name" pattern=".*\S+.*" required></div>
        <br>
            <br>
        <br>

        <br>
        <br>

        <button class="ui primary button"onclick="joinid()">Join</button>
    </form>
        </center>
        {{else if eq .page 1}}
    <center>
    <h1 class="ui header">Waiting Room</h1>
{{ if eq .ishost "1"}}

    <div class="ui list">
        <div class="item">
            <img class="ui tiny image" src="http://localhost:8080/images/A/A0.png">
            <div class="content">
                <div class="description" >{{.name}} (you)</div>
            </div>
        </div>
    </div>
    <h4 class="ui horizontal  divider">
        VS
    </h4>

    {{ else if eq .ishost "0"}}
    <div class="ui list">
        <div class="item">
            <img class="ui tiny image" src="http://localhost:8080/images/A/A0.png">
            <div class="content">
                <div class="description" id="hostuser" ></div>
            </div>
        </div>
    </div>
    <h4 class="ui horizontal  divider">
        VS
    </h4>
    <div class="ui list">
        <div class="item">
            <img class="ui tiny image" src="http://localhost:8080/images/B/B0.png">
            <div class="content">
                <div class="description">{{.name}} (you)</div>
            </div>
        </div>
    </div>
    </center>
        {{end}}
    <div id="user">
        <div class="ui active centered inline loader"  id ="loader"><br><br>Loading</div>
    </div>
        {{else if eq .page 2}}
<div id="pixiview"></div>
    <center>
    <p style="padding:0.3em;">表示がおかしいときはリロードしてね　<button  class="ui primary basic blue button"　onclick="location.href='catgame.gojiteji.com'">タイトルへ戻る</button></p>
    </center>
{{end}}

<script>
    {{ if eq .page 1}}
    {{ if eq .ishost "1"}}
    var url = "ws://" + "localhost:8080/ws/" + {{.roomid}};
    ws = new WebSocket(url);
    user=true
    var enemyname=""
    ws.onmessage = function (msg) {
        if (msg.data) {
            var parts = msg.data.slice(1,).split(" ")
            if(user) {
                if (parts[0] == "newuser") {
                    enemyname= parts[1].slice(0, -1)
                    document.getElementById('user').innerHTML = "<div class=\"ui list\">\n<div class=\"item\"><img class=\"ui tiny image\" src=\"http://localhost:8080/images/B/B0.png\"><div class=\"content\"><div class=\"description\">" + parts[1].slice(0, -1) + "</div></div></div></div>"
                    user = false
                    document.getElementById("btnloc").innerHTML="<br><br><button class=\"ui inverted  huge red button\" id=\"sbtn\" type=\"hidden\" onclick=\"gamebegin()\">\n Start Game\n</button>\n"
                }
            }
            if(parts[0]=="roomislive"){
                ws.send(["roomislive","yes"].join(" "));
            }
            if(parts[0].slice(0,-1)=="gethostname"){
                ws.send(["hostname",{{.name}}].join(" "))
            }
            if(parts[0].slice(0,-1)=="begin"){
                var url = 'http://localhost:8080/play/' + {{.roomid}};
                var form = $('<form action="' + url + '" method="post">' +
                    '<input type="hidden" name="player" value="A" />' +
                    '<input type="hidden" name="name" value={{.name}} />' +
                    '<input type="hidden" name="ishost" value="1" />' +
                    '<input type="hidden" name="enemyname" value='+enemyname+' />' +
                    '<input type="hidden" name="enemyteam" value="B" />' +
                    '</form>');
                $('body').append(form);
                form.submit();            }


        }
    }

    {{else if eq .ishost "0"}}
    var url = "ws://" + "localhost:8080/ws/" + {{.roomid}};
    ws = new WebSocket(url);
    var enemyname=""
    ws.onopen = function (event) {
        ws.send(["gethostname"].join(" "))
    }
        ws.onmessage = function (msg) {
        if (msg.data) {
            var parts = msg.data.slice(1,).split(" ")
            if(parts[0]=="hostname") {
                document.getElementById('hostuser').innerHTML = parts[1].slice(0,-1)
                document.getElementById("user").innerHTML=""
                enemyname=parts[1].slice(0,-1)
            }
            if(parts[0].slice(0,-1)=="begin"){
                var url = 'http://localhost:8080/play/' + {{.roomid}};
                var form = $('<form action="' + url + '" method="post">' +
                    '<input type="hidden" name="player" value="B" />' +
                    '<input type="hidden" name="name" value={{.name}} />' +
                    '<input type="hidden" name="ishost" value="0" />' +
                    '<input type="hidden" name="enemyname" value='+enemyname+' />' +
                    '<input type="hidden" name="enemyteam" value="A" />' +
                    '</form>');
                $('body').append(form);
                form.submit();
            }

        }
    }
    {{end}}

    {{end}}

    {{ if eq .page 2}}

    var url = "ws://" + "localhost:8080" + "/ws/"+{{.roomid}};
    ws = new WebSocket(url);


    player_num=1
    players=[]
    var a=0;
    var b=0

    function updatecats(arr) {
        for (i = 0; i < player_num; i++) {
            if ("enemy" == arr[0]) {
                animate = false

                if (Math.abs(players[i].lastswitchedx - parseFloat(arr[2])) > 3 || Math.abs(players[i].lastswitchedy - parseFloat(arr[3])) > 1.5) {
                    players[i].switchingfoot()
                    if (Math.abs(players[i].lastswitchedx - parseFloat(arr[2])) > Math.abs(players[i].lastswitchedy - parseFloat(arr[3]))) {
                        if ((players[i].lastswitchedx - parseFloat(arr[2])) > 0) {
                            players[i].sx = -1
                            players[i].sy = 0
                        } else if ((players[i].lastswitchedx - parseFloat(arr[2])) < 0) {
                            players[i].sx = 1
                            players[i].sy = 0
                        }
                    } else {
                        if ((players[i].lastswitchedy - parseFloat(arr[3])) > 0) {
                            players[i].sx = 0
                            players[i].sy = -1
                        } else if ((players[i].lastswitchedy - parseFloat(arr[3])) < 0) {
                            players[i].sx = 0
                            players[i].sy = 1
                        }
                    }
                    players[i].update()
                }
            }
            if (players[i].sprite.x - parseFloat(arr[2]) > 0) {
                players[i].left()
            } else if (players[i].sprite.x - parseFloat(arr[2]) < 0) {
                players[i].right()
            } else {
                arr[5] == "A" ? players[i].right() : players[i].left()
            }
            players[i].sprite.x = parseFloat(arr[2])
            players[i].sprite.y = parseFloat(arr[3])
            players[i].name = arr[1]
            players[i].holdings = arr[4]
            players[i].holdings = arr[4]
            players[i].text.x = players[i].sprite.x - 10;
            players[i].text.y = players[i].sprite.y - 25;
            app.stage.addChild(players[i].sprite);
            app.stage.addChild(players[i].sprite);
            app.stage.addChild(players[i].text);
            app.stage.addChild(players[i].text);

        }
        }
function updateenemy(arr){
    for(i=0;i<player_num;i++){
        if(players[i].id=="enemy"){
            players[i].holdings = parseInt(players[i].holdings) + 1
            for(j=0;j<personlist.length;j++) {
                if(personlist[j].id==arr[0]) {
                    personlist[j].line = players[i].holdings
                    personlist[j].owner = players[i]
                    personlist[j].attracted = true
                }
            }
        }
    }

    }
    //受信時の動作定義
    ws.onmessage = function (msg) {
        var message,id,name,x,y,holdings=""
        var cmds = {"message":message,"id": id, "name": name, "x": x,"y":y, "holdings":holdings};
        if (msg.data) {
            var parts = msg.data.slice(1,).split(" ")
            if(parts[0]=="locationupdate"){
                    updatecats(parts.slice(1, ))
            }
            if(parts[0]=="getenemy"){
                updateenemy(parts.slice(1, ))
            }
            if(parts[0]=="host"){
                Persongenerator(parts[1],parseFloat(parts[2]),parseFloat(parts[3]),parseFloat(parts[4]),parseFloat(parts[5]),parseFloat(parts[6]))
            }
            if(parts[0]=="sc"){
                if(parts[1][0]=="A"){
                    a+=1
                }
                if(parts[1][0]=="B"){
                    b+=1
                }
            }
            if(parts[0]=="time"){
                settime(parts[1].slice(0,-1))
            }
        }
    };



    const app = new PIXI.Application({
        width: 400, height: 300, backgroundColor: 0x2f4f4f, resolution: window.devicePixelRatio || 1,
    });
    document.body.appendChild(app.view);
    PIXI.settings.CREATE_IMAGE_BITMAP = false;
    var home1 = new PIXI.Graphics();
    home1.beginFill(0xdeb887);
    home1.lineStyle(5, 0xd2b48c);
    home1.drawCircle(60, 150, 50);
    app.stage.addChild(home1);
var playing =true
    function finish() {
        let filter = new PIXI.filters.BlurFilter();
        playing=false
        var fintxt =  new PIXI.Text(name,
            {
                //   fontFamily: 'Arial',   // フォント
                fontSize: 100,
                fill : 0xFDBE00,       // 文字色
                stroke: 0x000000,      // アウトラインの色
                strokeThickness: 20,    // アウトラインの太さ
                align: 'center',       // 文字揃え(複数行の場合に有効)
            });
        fintxt.x=80
        fintxt.y=100
        fintxt.text="FIN !"
        app.filters=[filter];
        app.stage.addChild(fintxt);
    }
    var ScoreA =  new PIXI.Text(name,
        {
            //   fontFamily: 'Arial',   // フォント
            fontSize: 20,
            fill : 0xFDBE00,       // 文字色
            stroke: 0x000000,      // アウトラインの色
            strokeThickness: 2,    // アウトラインの太さ
            align: 'center',       // 文字揃え(複数行の場合に有効)
        });
    ScoreA.x=10
    ScoreA.y=10
    var ScoreB =  new PIXI.Text(name,
        {
            //   fontFamily: 'Arial',   // フォント
            fontSize: 20,
            fill : 0xFDBE00,       // 文字色
            stroke: 0x000000,      // アウトラインの色
            strokeThickness: 2,    // アウトラインの太さ
            align: 'center',       // 文字揃え(複数行の場合に有効)
        });
    ScoreB.x=270
    ScoreB.y=10

    var showtime =  new PIXI.Text(name,
        {
            //   fontFamily: 'Arial',   // フォント
            fontSize: 20,
            fill : 0xffffff,       // 文字色
            stroke: 0x000000,      // アウトラインの色
            strokeThickness: 2,    // アウトラインの太さ
            align: 'center',       // 文字揃え(複数行の場合に有効)
        });
    showtime.x=180
    showtime.y=10

    function settime(text){
        showtime.text=text
        app.stage.addChild(showtime);
        if(text=="0"){
            finish()
        }
    }

    var home1tx = PIXI.Texture.from('./images/item/home1.png');
    var home1sp = new PIXI.Sprite(home1tx);
    home1sp.width=home1sp.width/15;
    home1sp.height=home1sp.height/15;
    home1sp.anchor.set(0.5,0.5);
    home1sp.x = 60;
    home1sp.y = 145;
    home1sp.interactive = true;
    app.stage.addChild(home1sp);

    var home2 = new PIXI.Graphics();
    home2.beginFill(0xdeb887);
    home2.lineStyle(5, 0xd2b48c);
    home2.drawCircle(340, 150, 50);
    app.stage.addChild(home2);

    var home2tx = PIXI.Texture.from('./images/item/home2.png');
    var home2sp = new PIXI.Sprite(home2tx);
    home2sp.width=home2sp.width/15;
    home2sp.height=home2sp.height/15;
    home2sp.anchor.set(0.5,0.5);
    home2sp.x = 340;
    home2sp.y = 145;
    home2sp.interactive = true;
    app.stage.addChild(home2sp);



    // Create a new texture
    var glass = PIXI.Texture.from('./images/item/glass.png');
    for (i=0;i<20;i++) {
        var glasssprite = new PIXI.Sprite(glass);
        seed=Math.random()
        glasssprite.width = glasssprite.width / 50;
        glasssprite.height = glasssprite.height / 50;
        glasssprite.anchor.set(0.5, 0.5);
        glasssprite.x = Math.random()*380;
        glasssprite.y = Math.random()*260;
        glasssprite.interactive = true;
        app.stage.addChild(glasssprite);
    }



    function speed(a,b){
        c=a-b>0?1:-1;
        if(a-b<1 && a-b>0){
            c=0
        }
        return c
    }

    personlist=[]
    class  Passenger{
        constructor(id,x,y,pvx,pvy) {

            this.x = x;
            this.y = y;
            this.vx = pvx;
            this.vy = pvy;
            this.x_0=x
            this.y_0=y

            //this.index = Math.floor(Math.random() * 11)
            this.t0=PIXI.Texture.from('./images/Person/unhappy0.png')
            this.t1=PIXI.Texture.from('./images/Person/unhappy1.png')
            this.t2=PIXI.Texture.from('./images/Person/happy0.png')
            this.t3=PIXI.Texture.from('./images/Person/happy1.png')

            this.person = new PIXI.Sprite(this.t0);
            this.person.width = this.person.width / 20;
            this.person.height = this.person.height / 20;
            this.person.x =this.x;
            this.person.y =this.y;
            this.person.anchor.set(0.5, 1.0);
            this.person.interactive = true;
            this.attracted=false
            this.owner=null
            this.switch=false
            this.line=0
            this.sumdelta=0
            this.isIn=false
            this.scoreline=0
            this.id=id
            this.switchcounter=0

        }
        show(){
            app.stage.addChild(this.person);
        }
        update(delta) {
            if (this.person.x < 0 || this.person.x > 400 || this.person.y < 0 || this.person.y > 300) {
                app.stage.removeChild(this.person);
            }
            if (this.attracted) {
                this.sumdelta += delta
                    //円外から円内に入った時
                    if ((!this.isIn) && ((Math.pow(60 - this.person.x, 2) + Math.pow(150 - this.person.y, 2)) < 2500)&&this.owner.team=="A") {
                        this.owner.holdings -= 1
                        score_a += 1
                        this.isIn = true
                        this.scoreline = score_a
                        if(this.owner.isu){
                            ws.send(["sc",this.owner.team].join(" "));
                        }
                    }
                if ((!this.isIn) && ((Math.pow(340 - this.person.x, 2) + Math.pow(150 - this.person.y, 2)) < 2500)&&this.owner.team=="B") {
                    this.owner.holdings -= 1
                    score_b += 1
                    this.isIn = true
                    this.scoreline = score_b
                    if(this.owner.isu){

                        ws.send(["sc",this.owner.team].join(" "));
                    }
                }
                if (this.sumdelta > 20) {
                    this.switch = !this.switch
                    this.x_0 = this.person.x
                    this.y_0 = this.person.y
                    this.person.texture = this.switch ? this.t2 : this.t3
                    this.sumdelta = 0
                }

                }else {//魅了されていないときの動作
                if ((Math.abs(this.x_0 - this.person.x) > 5 || Math.abs(this.y_0 - this.person.y) > 5)) {
                    this.switch = !this.switch
                    this.x_0 = this.person.x
                    this.y_0 = this.person.y
                    this.person.texture = this.switch ? this.t0 : this.t1
                }
            }
                if (this.isIn) {
                    //自陣での並び方
                    app.stage.removeChild(this.person);
                    //this.person.x = 10 + this.scoreline * 3
                    //this.person.y = 150
                } else {
                    if (this.attracted) {
                        //魅了されたらスタンプの絵に並ぶ
                        try {
                            this.person.x = this.line<0?this.owner.stamps[5].x:this.owner.stamps[this.line * 2].x;//-1対策
                            this.person.y = this.line<0?this.owner.stamps[5].y:this.owner.stamps[this.line * 2].y;
                        } catch(error) {
                            console.log("エラー内容："　+ error);
                        }
                    } else {
                        //それ以外は普通に歩く
                        this.person.x += this.vx * delta;
                        this.person.y += this.vy * delta;
                    }

            }
        }
    }
                    function stampchecker(k, p) {
                        if (k.holdings < 5) {
                            for (var i = 0; i < p.length; i++) {
                                if (p[i].attracted == false) {
                                    for (var j = 0; j < k.stamps.length; j++) {
                                        if (Math.abs(k.stamps[j].x - p[i].person.x) < 10 && (Math.abs(k.stamps[j].y - p[i].person.y) < 20)&&k.holdings<4) {
                                            k.holdings = k.holdings + 1
                                            p[i].line = k.holdings
                                            p[i].owner = k
                                            p[i].attracted = true
                                            ws.send(["getenemy", p[i].id, p[i].owner.id].join(" "));
                                            break
                                        }
                                    }
                                }
                            }
                        }
                    }

                    function Persongenerator(pid, x, y, vx, vy) {
                        let person = new Passenger(pid, x, y, vx, vy)
                        person.show()
                        personlist.push(person)
                    }

                    class player {
                        constructor(x, y, team, id, name) {
                            this.score = 0
                            this.name = name
                            this.isu=false
                            this.text = new PIXI.Text(name,
                                {
                                    //   fontFamily: 'Arial',   // フォント
                                    fontSize: 10,
                                    fill: 0xFDBE00,       // 文字色
                                    //stroke: 0x000000,      // アウトラインの色
                                    //strokeThickness: 2,    // アウトラインの太さ
                                    align: 'center',       // 文字揃え(複数行の場合に有効)
                                });
                            this.max_stamp = 13
                            this.stamps = []
                            this.count_stamp = 0
                            this.speedcoeff = 0.5
                            this.switchfooot = false
                            this.sx = 0
                            this.sy = 0
                            this.x_0 = 0
                            this.y_0 = 0
                            this.footprint = false
                            this.footwidth = 5
                            this.holdings = 0
                            this.x = x;
                            this.y = y;
                            this.id = id
                            this.team = team
                            this.texture00 = PIXI.Texture.from('./images/' + this.team + '/' + this.team + '_0.png');
                            this.texture01 = PIXI.Texture.from('./images/' + this.team + '/' + this.team + '_1.png');
                            this.texture10 = PIXI.Texture.from('./images/' + this.team + '/' + this.team + '0.png');
                            this.texture11 = PIXI.Texture.from('./images/' + this.team + '/' + this.team + '1.png');

                            this.sprite = new PIXI.Sprite(this.texture00);
                            this.sprite.width = this.sprite.width / 30;
                            this.sprite.height = this.sprite.height / 30;
                            this.sprite.anchor.set(0.5, 0.5);
                            this.sprite.x = this.x;
                            this.sprite.y = this.y;
                            this.text.x = this.sprite.x - 10;
                            this.text.y = this.sprite.y - 25;
                            this.sprite.interactive = true;
                            app.stage.addChild(this.sprite);
                            app.stage.addChild(this.text);
                            this.switch = false
                            this.lastswitchedx = this.x
                            this.lastswitchedy = this.y

                            this.switchcounter=0
                        }

                        switchingfoot() {
                            this.switch = !this.switch
                            this.lastswitchedx = this.sprite.x
                            this.lastswitchedy = this.sprite.y
                        }

                        right() {
                            this.switchcounter+=1
                            if(this.switchcounter>5){
                                this.switchcounter=0
                                if (this.switch) {
                                    this.sprite.texture = this.texture10
                                    app.stage.removeChild(this.sprite);
                                    app.stage.addChild(this.sprite);
                                } else {
                                    this.sprite.texture = this.texture11
                                    app.stage.removeChild(this.sprite);
                                    app.stage.addChild(this.sprite);
                                }
                            }
                        }

                        left() {
                            this.switchcounter+=1
                            if(this.switchcounter>5) {
                                this.switchcounter = 0

                                if (this.switch) {
                                    this.sprite.texture = this.texture00
                                    app.stage.removeChild(this.sprite);
                                    app.stage.addChild(this.sprite);
                                } else {
                                    this.sprite.texture = this.texture01
                                    app.stage.removeChild(this.sprite);
                                    app.stage.addChild(this.sprite);
                                }
                            }
                        }

                        update() {
                            this.switchcounter+=1

                            if (this.footprint) {
                                if (Math.pow(Math.abs(this.sprite.x) - Math.abs(this.x_0), 2) + Math.pow(Math.abs(this.sprite.y) - Math.abs(this.y_0), 2) > this.footwidth * this.footwidth) {
                                    this.count_stamp = this.count_stamp + 1
                                    if (this.sx > 0) {
                                        this.a_stmap_sprite = new PIXI.Sprite(PIXI.Texture.from('./images/' + this.team + '/' + this.team + '_stamp_r.png'));
                                    } else if (this.sx < 0) {
                                        this.a_stmap_sprite = new PIXI.Sprite(PIXI.Texture.from('./images/' + this.team + '/' + this.team + '_stamp_l.png'));
                                    } else if (this.sy > 0) {
                                        this.a_stmap_sprite = new PIXI.Sprite(PIXI.Texture.from('./images/' + this.team + '/' + this.team + '_stamp_d.png'));
                                    } else if (this.sy < 0) {
                                        this.a_stmap_sprite = new PIXI.Sprite(PIXI.Texture.from('./images/' + this.team + '/' + this.team + '_stamp_u.png'));
                                    }
                                    this.a_stmap_sprite.width = this.sprite.width / 5;
                                    this.a_stmap_sprite.height = this.sprite.height / 5;

                                    this.a_stmap_sprite.anchor.set(Math.random() * this.switchfooot, -Math.random() * this.switchfooot);
                                    this.a_stmap_sprite.x = this.sprite.x;
                                    this.a_stmap_sprite.y = this.sprite.y;
                                    app.stage.addChild(this.a_stmap_sprite);
                                    this.a_stmap_sprite.anchor.set(Math.random() * !this.switchfooot, -Math.random() * !this.switchfooot);
                                    this.a_stmap_sprite.x = this.sprite.x;
                                    this.a_stmap_sprite.y = this.sprite.y + 5;
                                    app.stage.addChild(this.a_stmap_sprite);
                                    app.stage.removeChild(this.sprite);
                                    app.stage.addChild(this.sprite)
                                    app.stage.removeChild(this.text);
                                    app.stage.addChild(this.text)
                                    this.footprint = false
                                    this.x_0 = this.sprite.x
                                    this.y_0 = this.sprite.y
                                    this.switchfooot = !this.switchfooot
                                    this.stamps.push(this.a_stmap_sprite)
                                    if (this.count_stamp >= this.max_stamp) {
                                        app.stage.removeChild(this.stamps.shift())
                                    }
                                }
                            } else {
                                if (this.sx || this.sy) {
                                    this.footprint = true
                                }
                            }
                            //足跡距離更新
                            if (Math.abs(Math.abs(this.sprite.x) - Math.abs(this.x_0)) > this.footwidth) {
                                this.x_0 = this.sprite.x
                            }
                            if (Math.abs(Math.abs(this.sprite.y) - Math.abs(this.y_0) > this.footwidth)) {
                                this.y_0 = this.sprite.y
                            }
                        }

                    }

                    class cat {
                        constructor(x, y, team, id, name) {
                            this.score = 0
                            this.name = name
                            this.isu=true
                            this.text = new PIXI.Text(name,
                                {
                                    //   fontFamily: 'Arial',   // フォント
                                    fontSize: 10,
                                    fill: 0xFDBE00,       // 文字色
                                    stroke: 0x000000,      // アウトラインの色
                                    strokeThickness: 2,    // アウトラインの太さ
                                    align: 'center',       // 文字揃え(複数行の場合に有効)
                                });
                            this.max_stamp = 13
                            this.stamps = []
                            this.count_stamp = 0
                            this.speedcoeff = 0.5
                            this.sx = 0
                            this.sy = 0
                            this.x_0 = 0
                            this.y_0 = 0
                            this.footprint = false
                            this.footwidth = 5
                            this.switchfooot = true
                            this.holdings = 0
                            this.x = x;
                            this.y = y;
                            this.id = id
                            this.team = team
                            this.texture00 = PIXI.Texture.from('./images/' + team + '/' + team + '_0.png');
                            this.texture01 = PIXI.Texture.from('./images/' + team + '/' + team + '_1.png');
                            this.texture10 = PIXI.Texture.from('./images/' + team + '/' + team + '0.png');
                            this.texture11 = PIXI.Texture.from('./images/' + team + '/' + team + '1.png');

                            this.sprite = new PIXI.Sprite(this.texture01);
                            this.sprite.width = this.sprite.width / 30;
                            this.sprite.height = this.sprite.height / 30;
                            this.sprite.anchor.set(0.5, 0.5);
                            this.sprite.x = this.x;
                            this.sprite.y = this.y;
                            this.text.x = this.sprite.x - 10;
                            this.text.y = this.sprite.y - 25;
                            this.sprite.interactive = true;
                            app.stage.addChild(this.sprite);
                            app.stage.addChild(this.text);

                        }

                        update(delta) {
                            this.px = this.sx
                            this.py = this.sy
                            this.dx = Math.abs(app.renderer.plugins.interaction.mouse.global.x - this.sprite.x)
                            this.dy = Math.abs(app.renderer.plugins.interaction.mouse.global.y - this.sprite.y)

                            this.sx = speed(app.renderer.plugins.interaction.mouse.global.x, this.sprite.x)
                            this.sy = speed(app.renderer.plugins.interaction.mouse.global.y, this.sprite.y)
                            if (this.sy == 0 && this.sx == 0 && this.sprite.texture == this.texture11) {
                                this.sprite.texture = this.texture10
                            }

                            if (this.sprite.y < this.sprite.height * 0.8 && this.sy < 0) {
                                this.sy = 0
                            }
                            if (this.sprite.y > 285 && this.sy > 0) {
                                this.sy = 0
                            }
                            if (this.sprite.x < this.sprite.width * 0.6 && this.sx < 0) {
                                this.sx = 0
                            }
                            if (this.sprite.x > 380 && this.sx > 0) {
                                this.sx = 0
                            }

                            if (this.sx < 0) {
                                this.sprite.texture = this.switchfooot ? this.texture00 : this.texture01;
                            } else if (this.sx > 0) {
                                this.sprite.texture = this.switchfooot ? this.texture10 : this.texture11;
                            } else if (this.sx == 0 && (!(this.sy == 0))) {
                                this.sprite.texture = this.switchfooot ? this.texture10 : this.texture11;
                            }

                            if (this.sy == 0 && this.sx == 0 && this.sprite.texture == this.texture01) {
                                this.sprite.texture = this.texture00
                            }
                            if (this.sy == 0 && this.sx == 0 && this.sprite.texture == this.texture01) {
                                this.sprite.texture = this.texture00
                            }
                            if (!(this.sx == 0 && this.sy == 0)) {
                                ws.send(["locationupdate", "enemy", this.name, this.sprite.x, this.sprite.y, this.holdings, this.team].join(" "));
                            }
                            this.sprite.x += this.sx * this.speedcoeff * delta;
                            this.sprite.y += this.sy * this.speedcoeff * delta;
                            this.text.x = this.sprite.x - 10;
                            this.text.y = this.sprite.y - 25;
                            if (this.footprint) {
                                if (Math.pow(Math.abs(this.sprite.x) - Math.abs(this.x_0), 2) + Math.pow(Math.abs(this.sprite.y) - Math.abs(this.y_0), 2) > this.footwidth * this.footwidth) {
                                    this.count_stamp = this.count_stamp + 1
                                    switch (Math.abs(this.sx) > Math.abs(this.sy)) {
                                        case true:
                                            if (this.sx > 0) {

                                                this.a_stmap_sprite = new PIXI.Sprite(PIXI.Texture.from('./images/'+this.team+'/'+this.team+'_stamp_r.png'));
                                            } else {
                                                this.a_stmap_sprite = new PIXI.Sprite(PIXI.Texture.from('./images/'+this.team+'/'+this.team+'_stamp_l.png'));
                                            }
                                            break;
                                        case false:
                                            if (this.sy > 0) {
                                                this.a_stmap_sprite = new PIXI.Sprite(PIXI.Texture.from('./images/'+this.team+'/'+this.team+'_stamp_d.png'));
                                            } else {
                                                this.a_stmap_sprite = new PIXI.Sprite(PIXI.Texture.from('./images/'+this.team+'/'+this.team+'_stamp_u.png'));
                                            }
                                            break;
                                    }

                                    this.a_stmap_sprite.width = this.sprite.width / 5;
                                    this.a_stmap_sprite.height = this.sprite.height / 5;

                                    this.a_stmap_sprite.anchor.set(Math.random() * this.switchfooot, -Math.random() * this.switchfooot);
                                    this.a_stmap_sprite.x = this.sprite.x;
                                    this.a_stmap_sprite.y = this.sprite.y;
                                    app.stage.addChild(this.a_stmap_sprite);
                                    this.a_stmap_sprite.anchor.set(Math.random() * !this.switchfooot, -Math.random() * !this.switchfooot);
                                    this.a_stmap_sprite.x = this.sprite.x;
                                    this.a_stmap_sprite.y = this.sprite.y + 5;
                                    app.stage.addChild(this.a_stmap_sprite);
                                    app.stage.removeChild(this.sprite);
                                    app.stage.addChild(this.sprite)
                                    app.stage.removeChild(this.text);
                                    app.stage.addChild(this.text)
                                    this.footprint = false
                                    this.x_0 = this.sprite.x
                                    this.y_0 = this.sprite.y
                                    this.switchfooot = !this.switchfooot
                                    this.stamps.push(this.a_stmap_sprite)
                                    if (this.count_stamp >= this.max_stamp) {
                                        app.stage.removeChild(this.stamps.shift())
                                    }
                                }
                            } else {
                                if (this.sx || this.sy) {
                                    this.footprint = true
                                }
                            }
                            //足跡距離更新
                            if (Math.abs(Math.abs(this.sprite.x) - Math.abs(this.x_0)) > this.footwidth) {
                                this.x_0 = this.sprite.x
                            }
                            if (Math.abs(Math.abs(this.sprite.y) - Math.abs(this.y_0) > this.footwidth)) {
                                this.y_0 = this.sprite.y
                            }
                        }
                    }
                    var a_name = {{.name}};
                    var a_id = {{.id}}
                    var ta = {{.team}};

                    var b_name = {{.enemyname}};
                    var b_id = {{.enemyid}}
                    var tb = {{.enemyteam}};
                    var ishost = {{.ishost}};
                    // Listen for animate update
                    let kittle


                    var score_a = 0
                    var score_b = 0
                    var stamploc = []
                    var wsonopen = false
                    ws.onopen = function (event) {
                        wsonopen = true;
                    }


                    t=60
                    var sumdelta = 0
                    runonce=true
                    app.ticker.add((delta) => {
                        if(runonce){
                            if(ta=="A") {
                                kittle = new cat(60, 150, ta,  a_id,a_name)
                            }else if(ta=="B"){
                                kittle = new cat(340, 150, ta,  a_id,a_name)
                            }
                            for (var i = 0; i < player_num; i++) {
                                if(ta=="A") {
                                    players.push(new player(340, 150, tb, b_id, b_name))
                                }else if(ta=="B"){
                                    players.push(new player(60, 150, tb, b_id, b_name))
                                }
                            }
                            runonce=false
                        }
                        if (wsonopen) {
                            if (ishost == "1" && sumdelta > 60&&t>0) {
                                ws.send(["host"].join(" "))
                                sumdelta = 0
                                t=t-1
                                if(!(t<0)){
                                ws.send(["time",t].join(" "))
                                }
                            }
                            sumdelta += delta

                            if (playing) {
                                for (var j = 0; j < personlist.length; j++) {
                                    personlist[j].update(delta)
                                }

                                kittle.update(delta)
                                stampchecker(kittle, personlist)
                                ScoreA.text = "catched:" + a.toString()
                                ScoreB.text = "catched:" + b.toString()
                                app.stage.removeChild(ScoreA)
                                app.stage.removeChild(ScoreB)
                                app.stage.addChild(ScoreA);
                                app.stage.addChild(ScoreB);
                            }
                        }
                    });
{{end}}
</script>
{{if eq .page 1 }}
{{if eq .ishost "1" }}
    <div id="btnloc"></div>
{{end}}
{{end}}

</body>
</html>