<html lang="ja">
<title>ヒトあつめ</title>
<head>
    <meta charset="UTF-8">
    <title>Sample App</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<body>
<script>
    window.addEventListener('beforeunload', function(e) {
        e.returnValue = 'leav room?';
    }, false);
    if(document.referrer==""){
        var redirect_url = "http://localhost:8080";
        location.href = redirect_url;
    }


    var url = "ws://" + window.location.host + "/socketloc/ws/"+{{.id}};
    var name = {{.myname}};
    var mem={{.u}}
    ws = new WebSocket(url);
    runonce=true

    var text = document.getElementById("text");
    ws.onmessage = function (msg) {
            if (msg.data =={{.id}}) {
                location.href = "https://google.com"
            }else if (!(msg.data.length==20)){
                if ((runonce) && (msg.data == name)) {
                    runonce = false
                } else {
                    document.getElementById("members").appendChild(document.createElement("li")).innerText = msg.data
                }
            }
    };
    function sendms(){
        ws.send(name)
    }

    setTimeout("sendms();", 1500);
    {{if eq .IsHost true}}
    function start(){
        ws.send({{.id}})
    }
    {{end}}

</script>


    <h2>Waiting For your Friends </h2>
    <br>
    <a>share below room id to join!</a>
    <br>
    <font color="green">{{.id}}</font>
    <br>
    <ol id="members">
        {{range .u}}
        <li>{{.}}</li>

    {{end}}
    </ol>
    {{.myindex}}. is you.
    <br>
    {{if eq .IsHost true}}
        <button type="submit" onclick="start()">Start</button>
    {{end}}
</body>
</html>